* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Header Section*/
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.header {
  width: 1300px;
  display: flex;
  /* background-color: #DB4A87; */
}
.logo-section {
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.logo-title {
  color: #0f2137;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding-left: 14px;
}
.nav1 {
  width: 502px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 355px;
}
.nav1 h2 {
  color: #02073e;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 206.25% */
}
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav2 .login {
  color: #02073e;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  padding-right: 46px;
}
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-started-section {
  display: flex;
  flex-direction: column;
}
.get-started-section h2 {
  color: #db4a87;
  text-align: right;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  padding-top: 3.2px;
}
/*Header section end*/

/*Hero section*/
.hero-section-container {
  padding-top: 156px;
  display: flex;
  width: 1280px;
}

.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section-title {
  color: #02073e;
  font-family: Crimson Text;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 111.111% */
  letter-spacing: -3px;
  width: 580px;
}
.hero-section-description {
  margin-top: 24px;
  color: #02073e;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  width: 507px;
}
.subscribe-section {
  margin-top: 34px;
  margin-bottom: 35px;
}
.subscribe-section input {
  width: 350px;
  height: 60px;
  border-radius: 5px;
  background: #eff3f7;
  border-style: none;
  color: #02073e;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding-left: 24px;
}
.subscribe-section input:focus {
  outline: none;
}
.subscribe-section button {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background: #db4a87;
  color: #fff;
  border: none;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.sponsors img {
  display: block;
  padding-right: 28px;
}
.sponsors p {
  color: #566272;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  opacity: 0.6;
  margin-right: 21px;
}
.sponsors {
  display: flex;
  align-items: center;
}
/*Hero section end*/

/*Serivce section*/
.service {
  display: flex;
  flex-direction: column;
  margin-top: 192px;
  width: 1175px;
}
.service-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.service-heading .title {
  color: #0f2137;
  text-align: center;
  font-family: Crimson Text;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 125% */
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.service-heading .description {
  color: #0f2137;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  width: 527px;
}
.for-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item img {
  display: block;
}
.item {
  display: flex;
}
.item .item-desc {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 265px;
  margin-right: 40px;
}
.item-desc .title {
  color: #0f2137;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
}
.item-desc .description {
  color: #343d48;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
/*Serivce section end*/

/*Features section*/
.features {
  display: flex;
  width: 1149px;
  margin-top: 220px;
}
.left-side {
  display: flex;
  width: 50%;
}
.left-side .card1 {
  position: relative;
  left: -85px;
  top: 30px;
}
.left-side .card2 {
  position: relative;
  left: -318px;
  top: 150px;
}
.right-side {
  display: flex;
  flex-direction: column;
}
.right-side .right-side-title {
  color: #0f2137;
  font-family: Crimson Text;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: -1px;
  margin-bottom: 26px;
}
.right-side .right-side-desc {
  color: #0f2137;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 218.75% */
  width: 478px;
  margin-bottom: 40px;
}
.right-side-options {
  display: flex;
  flex-direction: column;
}
.right-side-options .right-side-item {
  display: flex;
  width: 550px;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #f6f8fb;
  padding-right: 37px;
  padding-left: 45px;
  margin-bottom: 20px;
}
.right-side-item-title {
  color: #0f2137;
  font-family: DM Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 157.895% */
}

/*Features section end*/

/* Work Hard*/
.work-hard {
  margin-top: 244px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1262px;
  height: 584px;
  margin-bottom: 190px;
}
.work-hard-left {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.work-hard-left h1 {
  color: #0f2137;
  font-family: Crimson Text;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: -1px;
  width: 510px;
  margin-bottom: 27px;
}
.work-hard-left .desc {
  color: #02073e;
  font-family: DM Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 247.059% */
  width: 470px;
  margin-bottom: 39px;
}
.benefits .item img {
  display: block;
  padding-right: 14px;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}
.benefits {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.explore-more-btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.explore-more-btn img {
  display: block;
}
.explore-more-btn p {
  color: #3183ff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 262.5% */
  padding-right: 7px;
}
/* Work Hard End*/

/* Ultimate features*/

.ultimate-features {
  width: 100%;
  background: #f9fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ultimate-features-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ultimate-features-heading h1 {
  margin-top: 70px;
  color: #0f2137;
  text-align: center;
  font-family: Crimson Text;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 125% */
  letter-spacing: -1px;
}
.ultimate-features-heading p {
  width: 583px;
  color: #0f2137;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 218.75% */
}
.ultimate-features-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  margin-top: 30px;
  margin-bottom: 133px;
}
.ultimate-features-items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-top: 80px;
}
.ultimate-features-items .item h2 {
  color: #0f2137;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  width: 265px;
  margin-top: 28px;
  margin-bottom: 15px;
}
.ultimate-features-items .item .desc {
  width: 303px;
  color: #343d48;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.ultimate-features-items .item .learn-more-btn img {
  display: block;
}
.ultimate-features-items .item .learn-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.ultimate-features-items .item .learn-more-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #3183ff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 262.5% */
  padding-right: 7px;
}
/* Ultimate features end*/

/* Customer section*/
.customer {
  display: flex;
  width: 1300px;
  justify-content: center;
  align-items: center;
}
.customer-right-side-title {
  color: #0f2137;
  font-family: Crimson Text;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: -1px;
  width: 478px;
  margin-bottom: 37px;
}
.customer-right-side-desc {
  color: #02073e;
  font-family: DM Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 247.059% */
  margin-bottom: 20px;
}
.customer-right-side .learn-more-btn img{
  display: block;
}
.customer-right-side .learn-more-btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.customer-right-side .learn-more-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #3183ff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 262.5% */
  padding-right: 7px;
}